.game {
    text-align: center;
    padding: 30px;
  }
  
  .players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .player-info {
    font-size: 1.2rem;
  }
  
  .rounds {
    margin: 20px 0;
  }
  
  input[type="number"] {
    padding: 10px;
    font-size: 1rem;
    margin: 10px 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .start-button:hover {
    background-color: #0056b3;
  }
  .player-info {
    text-align: center;
    margin: 20px;
  }
  
 
   
  
.character-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.character-img:hover {
  transform: scale(1.1);
}

.character-img[src*="im"] {
  filter: drop-shadow(0 0 20px yellow) drop-shadow(0 0 40px red);
}

.character-img[src*="sw1"] {
  filter: drop-shadow(0 0 20px red);
}

.character-img[src*="ca"] {
  filter: drop-shadow(0 0 20px blue);
}

.character-img[src*="loki"] {
  filter: drop-shadow(0 0 20px gold) drop-shadow(0 0 40px green);
}

.character-img[src*="dp"] {
  filter: drop-shadow(0 0 20px red);
}